<div class="row m-0 justify-content-center align-items-center h-100">
    <div class="card" style="width: 18rem; border: none; background-color: rgba(0, 0, 0, 0); margin-right: 3rem;">
        <img src="../../assets/images/Paciente.svg" class="card-img-top" width="200em" height="200em" />
        <div class="card-body">
            <h3 class="card-title text-center">Registro de pacientes</h3>
            <a [routerLink]="'/pacientes'" class="stretched-link"></a>
        </div>
    </div>
    <div class="card" style="width: 18rem; border: none; background-color: rgba(0, 0, 0, 0); margin-left: 3rem;">
        <img src="../../assets/images/Citas.svg" class="card-img-top" width="234em" height="234em" />
        <div class="card-body">
            <h3 class="card-title text-center" style="text-decoration: none;">Reserva de citas</h3>
            <a [routerLink]="'/regCitas'" class="stretched-link"></a>
        </div>
    </div>
</div>